body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, slategrey, darkblue);
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: lightskyblue;
  border: 8px solid lightgreen;
  border-radius: 16px;
  width: 400px;
  gap: 10px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 362px;
  height: 110px;
  background-color: seagreen;
  opacity: 70%;
  border-radius: 16px;
  border: 4px solid white;
}

.clear-button {
  margin: 6px;
  width: 50px;
  height: 24px;
  box-sizing: border-box;
  border: solid white;
  border-radius: 16px;
  font-size: 14px;
  transition: 0.3s ease;
}

.clear-button:hover {
  cursor: pointer;
  color: white;
  border: solid crimson;
  background-color: crimson;
}

.display-operation {
  margin-right: 10px;
  font-size: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  gap: 3px;
}

.button {
  width: 90px;
  height: 48px;
  box-sizing: border-box;
  border: solid white;
  border-radius: 16px;
  font-size: 22px;
  transition: 0.3s ease;
}

.button:hover {
  cursor: pointer;
  border: solid yellow;
}

.number {
  background-color: #99c3c0;
}

.operation {
  background-color: #82aca9;
}

.equals {
  background-color: #177370;
  color: white;
}
